<div class="col-md-3 p-5">
    <div class="fs-3">
        <a href="{{ path('app_micro_post_show', { post: post.id }) }}" class="link-light link-opacity-75-hover link-underline-opacity-0">
            {{ post.title }}
        </a>
    </div>

    <div class="fs-5 text-light fst-italic">
        {{ post.text }}
    </div>
    <div class="text-secondary">
        {{ post.created | date("M j, Y") }}
    </div>
    <div class="container">
        <div class="row row-col-2 p-2">
            <div class="col">
                <a href="#" class="link-light link-opacity-75-hover link-underline-opacity-0">
                    <button class="btn btn-outline-success btn-sm">Like</button>
                    <span class="badge bg-secondary m-1">0</span>
                </a>
            </div>
        </div>
    </div>
    <div class="text-white">
        <a href="{{ path('app_profile', {id: post.author.id}) }}" class="link-light link-opacity-75-hover link-underline-opacity-0">{{post.author.email}}</a>
    </div>

    <div class="flex m-2">
        <a href="{{ path('app_micro_post_edit', {post: post.id}) }}" class ="link-light link-opacity-75-hover link-underline-opacity-0">Edit</a>

        <a href="{{ path('app_micro_post_comment', {post: post.id}) }}" class="link-light link-opacity-75-hover link-underline-opacity-0">Comment:</a>
        <span class="badge bg-secondary p-1 m-1">{{ post.comments.count }}</span>

   </div>

</div>



