{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block bread %}
    -> Register
{% endblock %}

{% block body %}



<div class="container container-sm p-10 mt-5 w-50">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
{#{{ form_start(registrationForm) }}#}

    {{ form_errors(registrationForm) }}

    <div>
        {{ form_label(registrationForm.email, 'Username (email)', {'label_attr': {'class': 'form-label mt-3' }}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div>
        {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'form-label mt-3'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <div class="flex items-center mt-4 mb-4">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h-4 w-4 mr-2'}}) }}
        {{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'label_attr': {'class': 'text-sm'}}) }}

    </div>

    <div>
        <button type="submit"
                class="btn btn-success w-100">Register</button>
    </div>

    {{ form_end(registrationForm) }}

    <div class="mt-2 text-center">
        Already have an account? <a href="{{ path('app_login') }}" class="d-block link-light link-opacity-75-hover link-underline-opacity-0 mb-2">Login here</a>
    </div>
</div>
{% endblock %}

